<div contCentrado>
  <h2>ID Usuario</h2>
</div>
<div contCentrado>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Id</mat-label>
    <input matInput (keydown.enter)="buscar()"  [(ngModel)]="valor" #busca>
  </mat-form-field>
  <div style="margin-right: 10px;"></div>
  <div>
    <button (click)="escanear()">Escanear QR</button>
    <h4 class="animate__animated animate__flash animate__infinite	animate__slow">{{escaneando}}</h4>
  </div>
</div>
<div contCentrado *ngIf="busqueda === undefined else res">
  <mat-error>Ingresa un id valido</mat-error>
</div>
<ng-template #res>
  <div contCentrado> 
   <table border="1"  height="100" [width]="500">
    <tr bgColor="#008B8B">
      <th>Id</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Telefono</th>
    </tr>
    <tr bgColor="	#778899">
      <td >{{ busqueda.id }}</td>
      <td >{{ busqueda.nombre }}</td>
      <td>{{ busqueda.edad }}</td>
      <td>{{ busqueda.telefono }}</td>
    </tr>
  </table>                      
  </div>
   <p></p>
  <div contCentrado>

    <table border="3" [width]="160">
      <tr bgColor="#008B8B"><th>Prestamos</th> </tr>
    </table>
    <table border="3">
      <tr bgColor="	#778899">
        <div *ngIf="libros.length >= 0  else noLibros">
          <div *ngFor="let ids of libros; let i =index ">
            <ul>
              <ol>
                {{i + 1}} - {{ ids }} 
                <button mat-button color="accent" (click)="devolverLibro(ids, i)">Devolver libro</button>
              </ol>
            </ul>
          </div>
        </div>
        <ng-template #noLibros> <div style="background-color: cornflowerblue;"> 0 libros</div></ng-template>
        <div *ngFor="let l of arrLibros">  
          <ul>
            <li>
              {{ l }} <u>Nuevo </u>  
            </li>
          </ul>
          
        </div>
      </tr>
    </table>      
  </div>
  <p></p>
  <mat-divider></mat-divider>
  <div>
    <app-buscar-l (p)="recibirId($event)"></app-buscar-l>
  </div>
</ng-template>

<div hidden>
      <qr-scanner
      [debug]="false"
      [canvasWidth]="1000"                               
      [canvasHeight]="500"                               
      [stopAfterScan]="escaner" 
      [updateTime]="1000">          
    </qr-scanner>
</div>