<mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Buscar usuario
        </mat-panel-title>
        <mat-panel-description>
          edita y elimina el usuario
        </mat-panel-description>
      </mat-expansion-panel-header>
      
            <div contCentrado>
          <h1>Buscar Usuario</h1>
        </div>
        <div contCentrado>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput (keydown.enter)="buscar()"  [(ngModel)]="valor" #busca>
          </mat-form-field>
        </div>
        <div *ngIf="actualizarDatos" >
          <div contCentrado *ngIf="busqueda === undefined else res">
            <mat-error>El id es incorrecto o no se encontro el usuario</mat-error>
          </div>
          <ng-template #res>
            <div contCentrado >
              <ul>
                <div>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>ID:</mat-label>
                    <input matInput disabled id="color-id"  [value]="actualizarDatos">
                  </mat-form-field>
                </div>
                <form class="example-form" [formGroup]="formulario">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                  </mat-form-field>
                
                  <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Edad</mat-label>
                      <input matInput type="number" formControlName="edad" >
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Telefono</mat-label>
                      <input matInput type="number" formControlName="telefono">
                    </mat-form-field>
                </form>
                <button mat-stroked-button color="basic" (click)="update()">Actualizar</button>
              </ul>
              <ul>
              <button mat-stroked-button color="warn" (click)="borrar( busqueda.id )">Eliminar</button>
              </ul>
            
            </div>
          </ng-template>
        </div>

    </mat-expansion-panel>