<mat-drawer-container fullscreen>
    <mat-toolbar color="primary">
        <span class="e">Indexeddb</span>

        <span class="espacio"><a mat-button color="accent" routerLink="/estatus">Estatus de usuario </a></span>
        <span class="espacio"><a mat-button color="accent" routerLink="/nuevo-libro">Nuevo libro </a></span>
        <span class="espacio"><a mat-button color="accent" routerLink="/nuevo-usuario">Nuevo usuario </a></span>
        <span class="espacio"><a mat-button color="accent" routerLink="/editar">Editar/Eliminar</a></span>
        <span class="espacio"><a mat-button color="accent" routerLink="/consultar">Consultar Db </a></span>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-drawer-container>
