
      <div contCentrado>
        <h1>{{ titulo }} Usuario</h1>
        <span *ngIf="mostrarId" >
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nuevo ID:</mat-label>
            <input matInput disabled id="color-id" (click)="mostrarId = ''" [value]="mostrarId">
          </mat-form-field>
          <button mat-mini-fab color="warn" (click)="borrarNuevoId()">X</button>
        </span>
      </div>
      <div contCentrado>
        <form class="example-form" [formGroup]="formulario">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
              <mat-error *ngIf="requerido('nombre')">El nombre es requerido</mat-error>
            </mat-form-field>
          
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Edad</mat-label>
                <input matInput type="number" formControlName="edad" >
                <mat-error *ngIf="requerido('edad')">La edad es requerido</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput type="number" formControlName="telefono">
                <mat-error *ngIf="requerido('telefono')">El telefono es requerido</mat-error>
              </mat-form-field>
          </form>
          
          <span *ngIf="actualizarDatos" >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>ID:</mat-label>
              <input matInput disabled id="color-id"  [value]="actualizarDatos">
            </mat-form-field>
        </span>
          <mat-divider></mat-divider>
      </div>
      <div contCentrado>
        <button mat-raised-button color="primary" [disabled]="desabilitarB" (click)="agregar()">Agregar</button>
        
      </div>

  <mat-divider></mat-divider>


